

body {
    height: 100vh;
    background-color: dodgerblue;
    margin: 50px;
}


top {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    justify-content: space-around;
    font: lighter;
    color:white;
    font-optical-sizing: auto;
}

p {
    display: flex;
    justify-content: space-evenly;
    margin: 1vh;
    font-size: 150%;
    border-bottom-color: black;
    font-optical-sizing: auto;
}


slots {
    display: flex;
    font-size: 450%;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-optical-sizing: auto;
}

h2 {
    display: flex;
    font-size: 4vh;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-optical-sizing: auto;
}


h3 {
    margin: 3vh;
}

bottom {
    display: flex;
    justify-content: space-evenly;
}
button {
    background-color: white;
    border-color: white;
    width: 7%;
    height: 10%;
    font-size: 130%;
}

span {
    visibility:hidden;
    size: 0px;
    display: flex;
    justify-content: space-evenly;
}


 
