

body {
    height: 87vh;
    background-color: rgb(12, 156, 222);
    margin: 3.125rem;
    transition: border 5s ease-in-out; 
    border-style: solid;
    border-color: #000000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
}

top {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    justify-content: space-around;
    font: lighter;
    color:white;
    font-optical-sizing: auto;
    border-style:groove;
    border-color:yellow;
}

p {
    display: flex;
    justify-content: space-evenly;
    margin: 1vh;
    font-size: 150%;
    border-bottom-color: black;
    font-optical-sizing: auto;
}

slots {
    display: flex;
    font-size: 450%;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-optical-sizing: auto;
    border: dotted;
    margin: 1rem;
    transition: border 2s ease-in-out;
}

h2 {
    display: flex;
    font-size: 4vh;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-optical-sizing: auto;

}


h3 {
    margin: 3vh;
}

bottom {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: white;
    border-color: yellow;
}

span {
    visibility:hidden;
    size: 0px;
    display: flex;
    justify-content: space-evenly;
    border-style: outset;
    /* outline: solid 5px #FC5185; */
    
}


 
